body {
  width: 100%;
}
#BgDesignContainer {
  min-height: 68rem;
  height: 68rem;
  max-height: 73rem;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
#BgDesignContainer::before {
  position: absolute;
  z-index: 9999;
  top: -3rem;
  left: -35rem;
  content: "";
  width: 60rem;
  height: 60rem;
  transform: rotate(-45deg);
  background: linear-gradient(to right bottom, #19caf657, #19caf626, #19caf607);
  border-radius: 5rem;
  filter: blur(10rem);
}
#BgDesignContainer::after {
  position: absolute;
  z-index: 9999;
  content: "";
  top: -14rem;
  right: -22rem;
  content: "";
  width: 37rem;
  height: 37rem;
  transform: rotate(-40deg);
  background: linear-gradient(to right bottom, #19caf657, #19caf626, #19caf607);
  border-radius: 5rem;
  filter: blur(10rem);
}
#BgDesign {
  z-index: -9;
  min-height: 68rem;
  height: 68rem;
  max-height: 73rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./../images/dots.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  -webkit-mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 0.5) 35%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 85%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-composite: intersect;
  mask-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 0.5) 35%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 85%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  mask-composite: intersect;
  opacity: 1;
}

@media screen and (max-width: 576px) {
  #BgDesignContainer {
    min-height: 68rem;
    height: 68rem;
    max-height: 73rem;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }
  #BgDesignContainer::before {
    top: 6rem;
    left: -23rem;
    width: 40rem;
    height: 40rem;
  }
  #BgDesignContainer::after {
    top: 2rem;
    right: -12rem;
    width: 20rem;
    height: 20rem;
  }
  #BgDesign {
    z-index: -9;
    min-height: 68rem;
    height: 68rem;
    max-height: 73rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./../images/dots.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-mask-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0.5) 35%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0) 85%
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-composite: intersect;
    mask-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0.5) 35%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0) 85%
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-composite: intersect;
    opacity: 1;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  #BgDesignContainer {
    min-height: 68rem;
    height: 68rem;
    max-height: 73rem;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }
  #BgDesignContainer::before {
    top: 4rem;
    left: -23rem;
    width: 40rem;
    height: 40rem;
  }
  #BgDesignContainer::after {
    top: 1rem;
    right: -12rem;
    width: 20rem;
    height: 20rem;
  }
  #BgDesign {
    z-index: -9;
    min-height: 68rem;
    height: 68rem;
    max-height: 73rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./../images/dots.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-mask-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0.5) 35%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0) 85%
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-composite: intersect;
    mask-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 20%,
        rgba(0, 0, 0, 0.5) 35%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0) 85%
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-composite: intersect;
    opacity: 1;
  }
}
